a {
  color: #00B7FF;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
  min-width: 450px;
  margin:0px;
}
button {
	border: 1px solid #777777;
  background: #6e9e2d;
  color: white;
  font: bold 11px 'Helvetica';
  padding: 4px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin:10px;
}
header {
	width:100%;
	box-shadow:0 4px 18px -9px #CCCCCC;
	margin-bottom: 25px;
}
header h2 {
	padding:10px;
}
footer {
	position: static;
	bottom: 0;
	left:0;
	padding:10px;
}
label {
	padding-left: 5px;
}
span {
	display: inline-block;
}
#prompt {
	padding:10px;
}
#wrapper {
	margin: auto;
	width:80%;
	display:none;
}
#result {
	background-color: #E3EAEA;
	padding:10px;
	box-shadow: 1px 1px 2px grey;
}
.answer {
	display:block;
}
.question {
	padding:10px;
	margin:auto;
	font-weight: bold;
}
.hidden {
	display: none;	
}
span.choice {
	display: block;
	padding:5px;
	margin: auto;
}
span.prompt {
	padding-bottom:10px;
}

